In [24]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### load dataset

In [4]:
card=pd.read_csv("creditcard.csv")
card

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

# frist five rows and last five rows

In [6]:
card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
card.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [16]:
card.sample(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
162951,115515.0,1.829126,-0.730894,-0.394126,-0.020959,0.088813,2.019948,-1.281865,0.795263,1.447702,...,0.135680,0.579551,0.346011,-0.858560,-0.600597,-0.353321,0.093623,-0.048274,6.01,0
4226,3752.0,0.844459,-1.333997,0.392835,-0.412436,-1.197115,-0.153743,-0.610705,0.045827,0.481895,...,-0.036932,-0.630902,-0.033061,-0.092255,-0.045791,-0.528338,-0.062167,0.042065,256.38,0
32744,36949.0,-0.271980,-2.286364,-1.005151,1.473186,-0.416562,0.486406,1.081217,-0.188882,-0.308682,...,0.526453,-0.282385,-0.993470,-0.905163,0.528146,-0.304487,-0.138065,0.139315,809.00,0
250543,154963.0,-0.637226,0.006507,1.941707,-2.490554,-0.854887,0.362537,-0.779180,0.463339,-0.167579,...,0.470893,1.474548,-0.174982,0.784598,-0.369218,-0.251166,0.528752,0.288300,1.99,0
202393,134308.0,2.039411,0.100813,-1.779743,0.238110,0.629867,-0.334305,0.071615,-0.055615,0.230239,...,-0.320909,-0.841795,0.303448,0.200186,-0.267929,0.173420,-0.062888,-0.043265,1.98,0
12583,22043.0,1.031579,0.059022,0.865832,1.254057,-0.483309,-0.056932,-0.367350,0.130718,1.383528,...,-0.122079,-0.245266,0.059869,0.103570,0.208118,-0.533921,0.005393,0.018657,49.00,0
62469,50278.0,1.127458,-0.943710,0.480554,-0.951083,-0.504680,1.362522,-1.184630,0.663669,-0.710048,...,0.271742,0.682415,0.133001,-1.043619,-0.045299,-0.168701,0.068554,-0.003114,32.00,0
46472,42801.0,1.551599,-0.976215,0.286955,-1.405558,-1.410014,-0.830612,-0.952513,-0.200590,-1.753517,...,-0.245350,-0.324318,-0.000705,0.002502,0.421879,-0.182619,0.027225,0.015860,10.00,0
255569,157290.0,2.044260,-2.192921,-0.117332,-1.466280,-1.804010,1.026366,-2.115516,0.401443,-0.189641,...,-0.170116,-0.012080,0.188572,0.071539,-0.431981,-0.210202,0.057485,-0.026640,99.00,0
183000,125615.0,2.050844,0.263304,-2.047668,1.122630,0.835402,-0.936170,0.725310,-0.372571,-0.052279,...,0.114127,0.344978,0.007981,0.583051,0.465078,-0.506760,-0.041505,-0.057011,20.00,0

# Credit card data information

In [8]:
card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

# Chacking the number of missing value in each columns

In [11]:
card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

# Distribution of legit transformation and fradulent transction

In [13]:
card["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

#### Here "0" represent the normal trasction and "1" represent the fraud transction

# separeting the data for analysis

In [17]:
legit=card[card.Class==0]
fraud=card[card.Class==1]
print(legit.shape)

(284315, 31)

In [18]:
print(fraud.shape)

(492, 31)

# Statistically measure of the data

In [25]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [27]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

# compair the values for both traction

In [28]:
card.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [29]:
legit_sample=legit.sample(n=492)
new_data_set=pd.concat((legit_sample,fraud),axis=0)
new_data_set.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
39370,39808.0,0.929936,-0.267779,0.547476,1.369933,-0.795270,-0.715968,0.030072,-0.074506,0.318847,...,-0.005714,-0.395621,-0.079602,0.320962,0.314154,-0.489176,-0.002156,0.054002,150.00,0
148067,89355.0,0.091539,0.837427,-0.002604,-0.745788,0.719672,-0.724369,1.004700,-0.158622,0.017780,...,-0.305851,-0.707401,-0.008247,-0.664967,-0.399678,0.181408,0.244683,0.090291,6.25,0
231134,146625.0,-1.466587,1.843170,-1.928263,-0.919005,0.761226,1.128148,-0.436072,1.702283,-0.385874,...,0.516702,1.540203,0.078049,-0.913822,-0.744735,-0.122032,0.390908,0.226433,0.49,0
55642,47048.0,-0.730012,0.817068,-0.432232,-0.068152,1.459830,4.035273,0.106511,1.262274,-0.770229,...,-0.001508,-0.312456,0.038144,0.977432,0.085105,-0.411326,-0.120877,-0.061110,150.00,0
207378,136646.0,-0.622299,1.975647,0.454676,4.227290,0.621445,0.865095,0.299904,0.545710,-2.352047,...,-0.074249,-0.298864,0.231599,0.717824,-0.931453,-0.042037,0.062257,0.231351,7.80,0

In [30]:
new_data_set.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [31]:
new_data_set["Class"].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [32]:
new_data_set.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94854.764228,-0.001122,-0.069475,-0.029343,0.026905,-0.029330,0.056407,0.037028,-0.053140,-0.011014,...,-0.022069,0.008645,0.013441,-0.003045,0.034904,0.041934,-0.041832,-0.021307,0.001626,101.674106
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Spliting the data into feature and traget

In [35]:
x=new_data_set.drop(columns="Class",axis=1)
y=new_data_set["Class"]

### Here x is the feture data set and y is the target data set

In [36]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
39370    39808.0  0.929936 -0.267779  0.547476  1.369933 -0.795270 -0.715968
148067   89355.0  0.091539  0.837427 -0.002604 -0.745788  0.719672 -0.724369
231134  146625.0 -1.466587  1.843170 -1.928263 -0.919005  0.761226  1.128148
55642    47048.0 -0.730012  0.817068 -0.432232 -0.068152  1.459830  4.035273
207378  136646.0 -0.622299  1.975647  0.454676  4.227290  0.621445  0.865095
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
39370   0.030072 -0.074506  0.318847  ...  0.075574 -0.005714 -0.395621
148067  1.004700 -0.158622  0.017780  ... -0.017970 -0.305851 -0.707401
231134 -0.436072  1.702283 -0.385874  ... -0.126834  0.516702  1.540203
55642   0.106511  1.262274 -0.770229  ...  0.037740 -0.001508 -0.312456
207378  0.299904  0.545710 -2.352047  ...  0.179598 -0.074249 -0.298864
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
39370  -0.079602  0.320962  0.314154 -0.489176 -0.002156  0.054002  150.00
148067 -0.008247 -0.664967 -0.399678  0.181408  0.244683  0.090291    6.25
231134  0.078049 -0.913822 -0.744735 -0.122032  0.390908  0.226433    0.49
55642   0.038144  0.977432  0.085105 -0.411326 -0.120877 -0.061110  150.00
207378  0.231599  0.717824 -0.931453 -0.042037  0.062257  0.231351    7.80
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [37]:
print(y)

39370     0
148067    0
231134    0
55642     0
207378    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# split the data into training data and testing data

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x.shape,x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(984, 30) (787, 30) (197, 30) (787,) (197,)

# Model Training

In [39]:
reg=LogisticRegression()

# Training the logictic regression model with training data

In [41]:
reg.fit(x_train,y_train)

LogisticRegression()

## Model Evaluation accuracy score

In [47]:
x_train_predic=reg.predict(x_train)
accuracy=accuracy_score(x_train_predic,y_train)
print(accuracy)

0.928843710292249

In [50]:
x_test_predic=reg.predict(x_test)
accuracy=accuracy_score(x_test_predic,y_test)
print(accuracy)

0.8984771573604061